﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: black;
}

.buttonAddTask {
    background-color: #FED796;
    font-size: 20px;
    height: 70px;
    width: 120px;    
    text-align: center;
}

button {
    border-radius: 4px;
}

.panelTest {
    background-color: #D9D9D9;
}

.tableTest {
    background-color: #EEEEEE;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 2px solid #E7E7E7;
}

.textAreaTask {
    width: 100%;
}

.doneTask {
    text-decoration: line-through;
}
