﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html ng-app="mosaicApp">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>To Do List</title>
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/mosaicApp.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>
<body ng-controller="testController">
    <div class="container-fluid">        
        <div class="row">
            <div class="hidden-xs col-md-3"></div>
            <div class="col-md-6 col-xs-12">
                <div class="container-fluid">
                    <div class="row panelTest">
                        <div class="col-md-12 text-center h1">
                            <label>To Do List</label>
                        </div>
                    </div>
                    <div class="row panelTest">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-9 col-xs-12">
                                    <textarea class="textAreaTask" ng-model="description"></textarea>
                                </div>
                                <div class="col-md-3 col-xs-12">
                                    <button type="button" class="buttonAddTask" ng-click="addTask()" ng-disabled="description == ''">Add Task</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row panelTest">
                        <div class="container-fluid">
                            <div class="row tableTest" ng-repeat="task in tasks">
                                <div class="col-xs-1 col-md-1 text-center">
                                    <div><input type="checkbox" ng-model="task.done" /></div>
                                </div>
                                <div class="col-xs-7 col-md-9 text-left">
                                    <span ng-class="task.done == true ? 'doneTask' : '' ">{{task.descripcion}}</span>
                                </div>
                                <div class="col-xs-4 col-md-2 text-right">
                                    <button type="button" ng-click="removeTask($index)">Remove</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hidden-xs col-md-3"></div>
        </div>
    </div>
</body>
</html>
